.menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  text-align: center;
  background: var(--background-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 1.2rem;
}

.description {
  max-width: 800px;
  margin: 10px auto;
}

button.bookmark {
  background-color: var(--calcite-color-brand);
  color: white;
  border: none;
  padding: 3px 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.7s ease;
  font-family: var(--calcite-font-family);
}

button.bookmark:hover {
  background-color: var(--calcite-color-brand-hover);
  transform: translateY(4px);
}

button.active {
  background-color: var(--calcite-color-brand-hover);
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
