.identity {
  position: absolute;
  top: var(--margin);
  right: var(--margin);
}

.avatar {
  cursor: pointer;
  float: right;
}

.identityMenu {
  background: var(--background-color);
  clear: both;
  margin-top: 40px;
  box-shadow: var(--box-shadow);
  padding: 15px;
}

.userTitle {
  font-weight: bold;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: var(--margin);
  margin-bottom: var(--margin);
}

.userInfo p {
  margin: 0;
}
